﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<div class="content">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3><i class="glyphicon glyphicon-info-sign"></i> Pregunta: ¿Hola Que tal GlobalPay?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3 class="page-header">Usando Web API v1</h3>
            <label class="control-label">Ingrese pregunta</label>
            <input class="form-control" type="search" id="pregunta" />
            <button type="button" class="btn btn-primary" id="ok">Web API</button>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3 class="page-header">Usando solo GET/POST Controller</h3>
            <label class="control-label">Ingrese pregunta</label>
            <input class="form-control" type="search" id="pregunta_controller" />
            <button type="button" class="btn btn-primary" id="aceptar">Controller</button>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aceptar").click(function () {
            $.ajax({
                url: "Home/NoWepAPIPost",
                data: { "pregunta": $("#pregunta_controller").val() },
                type: "post",
                success: function (response) {
                    alert(response);
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        $("#ok").click(function () {
            $.ajax({
                url: "api/ws",
                data: { "id": $("#pregunta").val() },
                type: "get",
                success: function (response) {
                    alert(response);
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>